<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="../../app.js"></script> -->
    <script src="../../fetchEvents.js"></script>
    <title>Calendar</title>
</head>

<body>
    <h1 id="hello"></h1>
    <table id="events-data">
        <tr>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th>Shifts</th>
        </tr>
        <tr>
            <td>2022-12-13</td>
            <td>0800</td>
            <td>0900</td>
            <td>hijk</td>
        </tr>
        <tbody>
            <!-- Load elements from Typescript -->
        </tbody>
    </table>
</body>

</html>